DEBUG=False
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=mvurwitaxis.co.zw,www.mvurwitaxis.co.zw
STATIC_URL=/static/
MEDIA_URL=/media/
ECOCASH_MERCHANT_NUMBER=263775000000
PAYNOW_INTEGRATION_ID=
PAYNOW_INTEGRATION_KEY=
PAYNOW_RETURN_URL=https://mvurwitaxis.co.zw/payments/return/
PAYNOW_RESULT_URL=https://mvurwitaxis.co.zw/payments/result/
WHATSAPP_ADMIN_NUMBER=263775000000
SITE_DOMAIN=mvurwitaxis.co.zw
